<!-- https://demo.themefisher.com/kross/index.html -->
<div class="container">

<div class="navbar">
  <button matbutton class="nametitle">Navodit</button>
  <div class="subnav">
  <button matbutton>About</button>
  <button matbutton>Experience</button>
  <button matbutton>Tech Stack</button>
</div>
</div>
<div class="heading">
  <pre>
    Hi ! 
    I am Navodit,
    a Web Developer
  </pre>
</div>
<!-- <div class="profileicon">
 
  <button class="imgsec"></button>
</div> -->
</div>
<div id="description">
  <p>
I am an innovative and  experienced Web Developer ,<br> with a very good hold in Angular .<br>
I have Developed more than thousands of  functional UI's,<br> multiple projects,
at each stage from development to production.
</p>
<a href="/about" class="knowmore"> Know more </a>
</div>
<div id="skills">
  <h1 class="skillheading">Skills</h1>
  <div class="skillleft">HTML</div>
  <div class="skilllright">Angular</div>

  <div class="skillleft">Aws cloud</div>
  <div class="skilllright">Typescript</div>

  
</div>
